.header-title {
    text-align: center;
    text-transform: uppercase;
    width: 1440px;
    margin: 50px 0 40px 0;
    font-size: 31px;
    font-weight: 700;
}

.header-title::before {
    content: url("../../../assets/back.svg");
    position: relative;
    width: 32px;
    height: 32px;
    left: -100px;
    top: 5px;
}
